.addNotification {
    font-size: 38px;
    position: absolute;
    color: #08c;
    right: 50px;
    bottom: 50px;    
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s ease-out;
}
.addNotification:hover {
    background-color: #d7d5d5;
    cursor: pointer;
}