@import "styles/_colors.scss";

.sliderLayout {
  background-color: $dark-purple !important;
  min-width: 115px !important;

  :global {
    .ant-menu {
      background-color: $dark-purple !important;
      & .ant-menu-title-content,
      .ant-typography {
        font-size: 16px;
      }
    }

    .ant-menu-item,
    .ant-menu-submenu-title {
      padding-top: 10px;
      padding-bottom: 10px;
      height: 55px !important;
      .ant-menu-item-icon {
        font-size: 20px !important;
      }
    }
  }
}