@import "styles/_colors.scss";

.loginScreen {
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.loginContent {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 6px;
    width: 450px;
    background-color: $light-grey;
}

.title {
    margin-bottom: 40px;
    text-align: center;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%); 
    background-clip: text;
    color: transparent;
    font-weight: 500;
}

.form {
    margin: 0 auto;
    text-align: start;
}
