@import "styles/_colors.scss";

.removeMessageIcon,
.detailMessageIcon {
    transition: 0.3s ease-out;
}
.removeMessageIcon:hover {
    color: red;
}
.detailMessageIcon:hover {
    color: blue;
}
.star,
.starred {
    padding: 10px;
    border-radius: 50%;
}
.starred {
    color: $starred;
}
.star:hover,
.starred:hover {
    background-color: #d7d5d5;
    cursor: pointer;
}
.unReadNoti {
    .ant-list-item-meta-description {
        font-weight: bold;
    }
}
